/* .hours{
    background-color: green;
    margin-bottom: 0rem;
    margin-bottom:5px;
    padding:3px 0;
    color:white;
    align-items: center;
    align-content: center;
    cursor: pointer;

} */

.hours {
  padding: 1vw;
  color:#fff;
  font-family: 'Source Code Pro', monospace;
  font-size:1.5vw;
  text-shadow: 0px 0px 5px #fff;
  background-color:rgb(34, 110, 1);
  background-image : linear-gradient(0deg, #fff2 0%, #fff2 25%, #0000 25%, #0000 50%, #fff3 50%, #fff4 75%, #0000 75%);
  background-size: 0.8rem 0.8rem;
  border: solid 2px linear-gradient(45deg, #0DD 0%, rgb(5, 94, 50) 100%);
  border-radius: 1vw;
  box-shadow: 0px 0px 5px rgb(2, 70, 46), 0px 0px 10px rgb(1, 84, 21),0px 0px 15px rgb(3, 151, 70), inset 0px 0px 30px #055, inset 0px 0px 15px rgb(1, 121, 45);
  transition: all ease-in-out 0.5s;
  cursor:pointer;
  margin-top:5px;
}

.hours:hover{
  box-shadow: 0px 5px 5px rgb(0, 116, 52), 0px 0px 1000px #0000,0px 0px 15px #0EE, inset 0px 0px 30px #055;
  background-color:#0CE;
  border:solid 2px #0DF;
  transform: translate(0px, -5px);
}

.hoursRed {
  padding: 1vw;
  color:#ffffff;
  font-family: 'Source Code Pro', monospace;
  font-size:1.5vw;
  text-shadow: 0px 0px 5px #fff;
  background-color:rgb(143, 43, 43);
  background-image : linear-gradient(0deg, rgb(243, 18, 18) 0%, rgba(174, 54, 54, 0.708) 25%, rgba(110, 56, 56, 0) 25%, #0000 50%, #fff3 50%, #fff4 75%, #0000 75%);
  background-size: 0.8rem 0.8rem;
  border: solid 2px linear-gradient(45deg, rgb(147, 42, 58) 0%, rgb(136, 13, 13) 100%);
  border-radius: 1vw;
  box-shadow: 0px 0px 5px rgba(121, 30, 13, 0.667), 0px 0px 10px rgb(109, 40, 13),0px 0px 15px rgb(165, 61, 20), inset 0px 0px 30px rgb(120, 41, 32), inset 0px 0px 15px rgba(146, 25, 17, 0.74);
  transition: all ease-in-out 0.5s;
  cursor:pointer;
  margin-top:5px;
}


.hoursGrey {
  padding: 1vw;
  color:#ffffff;
  font-family: 'Source Code Pro', monospace;
  font-size:1.5vw;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  background-color:rgb(112, 111, 111);
  background-image : linear-gradient(0deg, rgb(53, 53, 53) 0%, rgba(69, 69, 69, 0.708) 25%, rgba(110, 56, 56, 0) 25%, #0000 50%, rgba(65, 65, 65, 0.2) 50%, rgba(79, 79, 79, 0.267) 75%, #0000 75%);
  background-size: 0.8rem 0.8rem;
  border: solid 2px linear-gradient(45deg, rgb(147, 42, 58) 0%, rgb(136, 13, 13) 100%);
  border-radius: 1vw;
  transition: all ease-in-out 0.5s;
  cursor:pointer;
  margin-top:5px;
}





div p{
    margin-bottom: 0rem;
}

.modal-backdrop{
background-color:transparent


}