.hours{
    background-color: green;
    margin-bottom: 0rem;
    margin-bottom:5px;
    padding:3px 0;
    color:white;
    align-items: center;
    align-content: center;
    cursor: pointer;

}

.hoursRed{
    background-color: red;
    margin-bottom: 0rem;
    margin-bottom:5px;
    padding:3px 0;
    color:white;
    align-items: center;
    align-content: center;
    cursor: pointer;

}

.hoursGrey{
    background-color: gray;
    margin-bottom: 0rem;
    margin-bottom:5px;
    padding:3px 0;
    color:white;
    align-items: center;
    align-content: center;
    cursor: pointer;

}

div p{
    margin-bottom: 0rem;
}

.modal-backdrop{
background-color:transparent


}