.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}
.card{
    margin-bottom: 10px;
    margin:2px
}


.cardTitle{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.futureCard{
    color:white;

    margin-bottom:15px;
    background-image: linear-gradient(to right,#0c0729 0,#0c0918 100%) !important; /* override background image gradient w/ flat color */
   box-shadow:

    0 0 10px #fff,


    0 0 100px #0ff;
}


.pastCard{
    color:white;

    margin-bottom:15px;
    background-image: linear-gradient(to right,#2c2a34 0,#0a090b 100%) !important; /* override background image gradient w/ flat color */

}
