
.footer {
  right: 0;
  bottom: 0 ;
  left: 0;
  padding: 0.5rem;
  color:white;
  background-image: linear-gradient(to right,#47123c 0,#0f1158 100%) !important; /* override background image gradient w/ flat color */

  text-align: center;
  margin-top:100px
}