.flexDates{
    text-align: center;
    display:flex;
    justify-content: space-between;
    margin:10px;

}
.center{
    text-align: center;
}
.flex{
    display: flex;
justify-content: center;}

.flexCards{
    display: flex;
justify-content: space-around;
margin: 20px 0 
}
.imageCard{
height: 150px;
object-fit: cover;
}