
  
body {

    
    background-color: hsl(var(--night));
  
    background-image:linear-gradient(to bottom, hsla(var(--white), .05) 1px, transparent 1px);
    background-size: 1px var(--sky-line);
  }
 .neon2{
text-align: center;
  }
  .locals{
    margin-top:20px
  }
  @media (max-width: 600px){
.list{
 width:80%;
 margin: 0 auto;
}
  
}